@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  line-height: 1.5;
}

header {
  width: 100%;
  background: #000000;
  padding: 20px 10%;
}

nav {
  display: flex;
  justify-content: space-between; 
}

nav #Logo img {
  width: 100px;
}

nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px; 
}

nav .menu a {
  color: #c9c9c9;
  text-decoration: none;
  font-family: "Open sans", sans-serif;
}

.portada {
  background: url(../assets/images/headerBg.png) center/cover no-repeat;
  position: relative;
  display: flex;
  padding: 4% 10%;
  height: auto;
  justify-content: space-between;
}

.portada .izquierda {
  max-width: 700px;
  color: white;
}

.portada .izquierda .texto h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 20px 0px;
}

.portada .izquierda .texto .linea {
  display: block;
  width: 60px;
  height: 2px;
  background: white;
  margin-top: 30px;
}

.portada .izquierda .texto p {
  padding: 30px 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding-right: 30px;
  font-size: 1rem;
  max-width: 550px;
  color: #b7b7b7;
}

.portada .izquierda .boton {
  margin-top: 20px;
}

.portada .izquierda .boton a {
  border: solid 2px white;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  padding: 10px 25px;
}

.portada .derecha .formulario {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  width: 328px;
  font-family: "Open Sans", sans-serif;
  align-content: center;
}

.portada .derecha .formulario .encabezado {
  background: #f5f5f5;
  text-align: center;
  justify-content: center;
  padding: 10px 30px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.portada .derecha .formulario .encabezado span {
  color: #ff9b51;
}

.portada .derecha form {
  display: flex;
  flex-direction: column;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.portada .derecha form .campos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.portada .derecha form .campos input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  outline: none;
}

.portada .derecha form .campos input:focus {
  border-bottom: 1px solid #333;
}

.portada .derecha form .campos .campo {
  margin-bottom: 40px;
}


.portada .derecha form .enviar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9c5100;
}

.portada .derecha form .enviar input {
  width: 100%;
  border: none;
  background: #ff9b51;
  color: white;
  padding: 20px 0px;
  font-size: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.social {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #ffffff;
  border-bottom: #b7b7b7 2px solid;
}

.social .texto {
  max-width: 450px;
  font-family: "Open Sans", sans-serif;
}

.social .texto .parrafo {
  color: #b7b7b7;
}

.social .iconossociales {
  display: flex;
  padding: 0px 0%;
  gap: 30px;
  height: 7rem;
  align-items: center;
  justify-content: center;
}

.pestanas {
  display: flex;
  padding: 10%;
  background: #f5f5f5;
  justify-content: space-between;
  gap: 5%;
  font-family: "Open Sans", sans-serif;
}

.menupestanas {
  display: flex;
  flex-direction: column;
}

.pestana {
  max-width: 115px;
  border: none;
  padding: 45px;
  font-weight: bold;
  color: white;
  background: #333333;
  cursor: pointer;
  text-align: center;
  margin-top: 2px;
  font-family: "Open Sans", sans-serif;
}

.pestana:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.pestana:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pestana.activa {
  background: #ff8c3a;
}

.contenidopestana {
  max-width: 550px;
}

.contenidopestana h2 {
  margin-bottom: 20px;
  color: #333333;
}

.contenidopestana p {
  color: #b7b7b7;
  margin-bottom: 20px;
}

.descargar {
  background: #ff8c3a;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
}

.imagenpestana {
  max-width: 600px;
}


.sublista {
  display: flex;
  padding: 10%;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  gap: 40px;
  align-items: center;
}

.sublista .imagenprincipal {
  justify-content: right;
  align-items: center;
}

.sublista .imagenprincipal img {
  width: 500px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.sublista .texto {
  max-width: 500px;
}

.sublista .texto h3 {
  font-size: 1.5rem;
  color: #333333;
}

.sublista .texto p {
  color: #b7b7b7;
}

.sublista .texto .linea {
  display: block;
  width: 70px;
  height: 2px;
  background: #ff8c3a;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sublista .texto .subparrafo {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 30px;
}

.sublista .texto .subparrafo .parrafo {
  display: flex;
  gap: 20px;
  align-self: center;
}

.sublista .texto .subparrafo .parrafo .imagen {
  align-self: center;
}

.sublista .texto .subparrafo .parrafo .imagen img {
  width: auto;
  height: 40px;
}

.imagenestandar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 10%;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
}

.imagenestandar .texto {
  width: 515px;
}

.imagenestandar .texto h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333333;
}

.imagenestandar .texto .linea {
  display: block;
  width: 70px;
  height: 2px;
  background: #ff8c3a;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imagenestandar .texto p {
  font-family: "Open Sans", sans-serif;
  color: #b7b7b7;
  margin-bottom: 15px;
  font-size: 1rem;
}

.imagenestandar .imagen img {
  width: 500px;
  border-radius: 6px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.ventajas {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.encabezadoventajas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.encabezadoventajas h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.encabezadoventajas .separador {
  display: block;
  width: 70px;
  height: 2px;
  background: #ff8c3a;
  margin-top: 20px;
  margin-bottom: 20px;
}

.encabezadoventajas p {
  font-family: "Open Sans", sans-serif;
  color: #b7b7b7;
}

.listaventajas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.ventajaitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  max-width: 412px;
  text-align: center;
  gap: 20px;
}

.ventajaitem p {
  color: #b7b7b7;
}

.precios {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 10%;
  gap: 40px;
}

.encabezadoprecios {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  align-items: center;
}

.encabezadoprecios h2 {
  font-weight: 400;
  font-size: 2.5rem;
}

.encabezadoprecios p {
  color: #a6a7a9;
}

.tarjetasprecios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  font-family: "Open Sans", sans-serif;
  align-items: flex-end;
}

.tarjeta {
  width: 300px;
}

.tarjeta .tarjetatitulo,
.tarjetaprecio {
  background-color: #333333;
  color: white;
  text-align: center;
}

.tarjeta .tarjetatitulo {
  padding: 10px;
  border-bottom: 2px solid #b7b7b7;
}

.tarjeta .tarjetalistado {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  list-style: none;
  color: #86878b;
  font-weight: 350;
}

.tarjeta .tarjetalistado li {
  padding: 5px 0px;
  border-top: 2px solid #f5f5f5;
}

.tarjetaprecio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid #ff8c3a;
  padding: 10px;
}

.tarjetaprecio .precio {
  font-size: 2.5rem;
  font-weight: 650;
}

.tarjetaprecio .precio span {
  font-size: 4rem;
}

.tarjetainsignia {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #ff8c3a;
  padding: 10px;
  color: white;
  font-weight: 600;
}

.tarjetaprecio .etiqueta {
  color: #adadad;
  font-size: 0.8rem;
  font-weight: 600;
}

.encabezadoprecios .linea {
  text-align: center;
  display: block;
  width: 60px;
  height: 2px;
  background: #ff8c3a;
  margin: 20px 0px;
}

.testimonios {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

.testimonios h2 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.testimonios .linea {
  text-align: center;
  display: block;
  width: 60px;
  height: 2px;
  background: #ff8c3a;
  margin: 20px 0px;
}

.testimonios p {
  color: #a6a7a9;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
}

.contenedortestimonios {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.tarjetatestimonio {
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tarjetatestimonio .textotestimonio {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 1px;
  position: relative;
  color: #a6a7a9;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.tarjetatestimonio .textotestimonio p {
  margin: 0;
}

.textotestimonio::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 10%;
  transform: translateX(-50%);
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f5f5f5 transparent transparent transparent;
}

.autortestimonio {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  gap: 12px;
  margin-top: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.autortestimonio img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.autortestimonio strong {
  display: block;
  font-weight: 700;
}

.autortestimonio span {
  color: #86878b;
  font-size: 14px;
}

.llamado {
  position: relative;
  text-align: center;
  padding: 10%;
  background: url(../assets/images/bg2.png) no-repeat center/cover;
  color: white;
}

.fondollamado {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.contenidollamado {
  position: relative;
}

.llamado h2 {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.lineallamado {
  width: 60px;
  height: 2px;
  background: white;
  margin: 0 auto 20px auto;
}

.llamado p {
  margin: 0 auto 30px auto;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #a6a7a9;
}

.botonllamado {
  padding: 12px 30px;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10%;
}

.contacto h2 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.subrayado {
  width: 60px;
  height: 2px;
  background: #ff8c3a;
  margin: 20px 0px;
}

.contacto p {
  color: #a6a7a9;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.formcontacto {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #a6a7a9;
}

.formizquierda,.formderecha {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.formcontacto input,.formcontacto textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  background: transparent;
  margin-bottom: 20px;
}

.formcontacto textarea {
  resize: none;
  height: 150px;
}

.formenviar {
  width: 100%;
  text-align: center;
}

.formenviar button {
  background: #ff8c3a;
  border: none;
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.pie {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background: #000;
  color: #a6a7a9;
  padding: 1%;
}

.pie .iconossociales {
  display: flex;
  gap: 20px;
}

.pie .iconossociales img {
  width: 24px;
  height: 24px;
}

.pie p {
  font-size: 14px;
}

@media (max-width: 1279px) {   
.portada .izquierda .texto h1 {
    font-size: 25px;
}

.portada .izquierda .texto p{
    font-size: 15px;
}
.portada .izquierda .boton {
    margin-top: 1px;
}
.contenidopestana p {
  font-size: 14px;
}

.sublista .imagenprincipal img {
  width: 350px;
}

.imagenestandar .imagen img {
  width: 400px;
}
}


@media (max-width: 920px){
.social .iconossociales {
  gap: 0px;
}

.pestana {
  padding: 38px;
}


.contenidopestana h2 {
  font-size: 20px;
}

.contenidopestana p {
  font-size: 10px;
}

.imagenpestana img {
  width: 300px;
}

.sublista .imagenprincipal img {
  width: 300px;
}

.sublista .texto {
  width: 320px;
}

.imagenestandar .imagen img {
  width: 300px;
}
}


@media (max-width: 768px){
nav .menu {
  gap: 30px;
  justify-content: center;
}

nav #Logo img {
    width: 130px;
}

.portada .derecha .formulario {
  width: 200px;
}

.imagenpestana img {
  width: 0px;
}
nav .menu {
  justify-content: center;
  flex-wrap: wrap;
  display: flex
}

.sublista .imagenprincipal img {
  width: 0px;
}

.portada {
  padding: 4% 4%;
}

.social{
  flex-direction: column;
}

.social .iconossociales {
  gap: 10px;
}
.imagenestandar {
  flex-direction: column-reverse;
}

.imagenestandar .texto {
  width: auto;
}

.encabezadoventajas h2 {
  font-size: 1.5rem;
}

.encabezadoventajas p {
  width: 220px;
}

.listaventajas {
  flex-direction: column;
}

.tarjetasprecios {
flex-direction: column;
align-items: center;
}

.encabezadoprecios p {
  width: 200px;
}

.testimonios h2 {
  font-size: 2rem;
}

.testimonios p {
  font-size: 15px;
}
}

@media (max-width: 480px){}

